<mat-sidenav-container class="sidenav-container mat-app-background">

  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"  [opened]="(isHandset$ | async) === false">
    <mat-toolbar> <strong>Menú</strong></mat-toolbar>
    <mat-nav-list>
      <div>
        <h2 matSubheader> Gestionar proyectos </h2>
        <a mat-list-item routerLink="/asignar" routerLinkActive="primary">
          <mat-icon matListIcon> assignment </mat-icon>
          Asignar
        </a>
        <a mat-list-item routerLink="/seguimiento" routerLinkActive="primary">
          <mat-icon matListIcon> assignment </mat-icon>
          Reasignar
        </a>
        <mat-divider></mat-divider>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="bg-secondary white">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span > <strong>APUnidos  - Control de proyectos</strong> </span>
      <span class="example-spacer"></span>
      <span class="mr-5 d-none d-md-block" >{{LoginService.nombre}} - </span>
      <span class="mr-5 d-none d-md-block"> Gerente </span>
      <button mat-icon-button class="ml-5 example-icon favorite-icon" aria-label="icon-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
