<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div class="card border-0 shadow-lg col-12 col-md-4 mx-auto">
    <div class="row d-flex">
      <div>
        <div class="card2 card border-0 px-4 py-5">
          <h1 class="bold"> <strong>  INGRESAR </strong> </h1>
          <h5> Coloca tus credenciales e ingresa a la plataforma </h5>
          <form (ngSubmit)="login()" [formGroup]="form">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Usuario</mat-label>
              <input type="text" matInput formControlName="Usuario" required>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Clave de acceso</mat-label>
              <input type="password" matInput formControlName="Clave" required>
            </mat-form-field>
            <button mat-flat-button class="w-100 btn-primary" [disabled]="loading" type="submit">{{loading ? "Validando información..." : "Ingresar"}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
