<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-12 col-md-12 mb-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h2 class="center primary"> <strong> Bienvenido</strong> </h2>
          <h4 class="center"> Llene el formulario para registrar su proyecto </h4>

          <form (ngSubmit)="submit()" [formGroup]="form">
            <div class="row mb-3">
              <div class="col-12 col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Nombres del paciente</mat-label>
                  <input type="text" matInput formControlName="NombreCompleto" maxlength="50" required>
                  <mat-error *ngIf="validate('NombreCompleto')">
                    {{ check('NombreCompleto') }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Correo</mat-label>
                  <input type="email" matInput formControlName="Correo" required maxlength="50">
                  <mat-error *ngIf="validate('Correo')">
                    {{ check('Correo') }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12 col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Telefono</mat-label>
                  <input type="text" matInput formControlName="Telefono" maxlength="15">
                  <mat-error *ngIf="validate('Telefono')">
                    {{ check('Telefono') }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Proyecto</mat-label>
                  <mat-select  matNativeControl formControlName="ProyectoId" required>
                    <mat-option *ngFor="let item of proyectos" [value]="item.Id">{{item.Descripcion}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="validate('Proyecto')">
                    {{ check('Proyecto') }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12 col-md-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Origen</mat-label>
                  <mat-select  matNativeControl formControlName="OrigenId" required>
                    <mat-option *ngFor="let item of origenes" [value]="item.Id">{{item.Descripcion}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="validate('OrigenId')">
                    {{ check('OrigenId') }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <button mat-flat-button class="w-100 btn-primary" [disabled]="loading" type="submit">{{loading ? "Guardando..." : "Guardar"}}</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
