.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 250px;
  border-right: none;
  padding: 16px;
  text-align: center;
}

a{
  padding-left: 8px !important;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}
