<div class="d-flex justify-content-between">
  <h2 class="center primary"> <strong> Proyecto {{data.project.name}} </strong> </h2>
  <h4 class="center"> Realizar nuevo seguimiento </h4>

  <span class="example-spacer"></span>
  <button type="button" class="h4"mat-icon-button (click)="onClose()">
    <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
  </button>
</div>
<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="row mb-3">
    <div class="col-12 col-md-6">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Asesor</mat-label>
        <mat-select  matNativeControl formControlName="asesor" required>
          <mat-option value=""> </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-6" *ngIf="data.reasignacion">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Proyecto</mat-label>
        <mat-select  matNativeControl formControlName="proyecto" required>
          <mat-option value=""> </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <button mat-flat-button class="w-100 btn-primary" [disabled]="loading" type="submit">{{data.reasignacion ? "Reasignar" : "Asignar"}}</button>
</form>
<div class="col-4 px-5">
  <h3 class="center mb-3"> <strong> Proyecto - </strong> </h3>
  <div *ngIf="comentarios.length <= 0">
    <h3 class="center mb-3"> <strong> Aún no hay comentarios </strong> </h3>
  </div>
  <div *ngIf="comentarios.length > 0">
    <h4> <strong> Comentarios </strong> </h4>
    <br>
    <div *ngFor="let comentario of comentarios">
      <p> <strong> Estado: </strong> {{comentario.estado}}</p>
      <p class="mb-3"> {{comentario.comentario}} </p>
    </div>
  </div>
</div>
